<footer class="flex justify-between items-center mb-2">
    <div class="flex items-center">
        <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
          <%= image_tag comment.user.avatar.thumb.url, class: 'mr-2 w-6 h-6 rounded-full' %><%= comment.user.name %>
        </p>
    </div>
</footer>
<p class="text-gray-500 dark:text-gray-400"><%= comment.body %></p>